#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color1);
  
}

:root{
  --texto-color: #484041;
  --bg-color1: #EEF0E1;
  --bg-color2: #79aea379;
  --color-principal: #484041;
}


.bg-navBar{
  background-color: var(--color-principal);
}

.list-style-none{
  list-style-type: none;
  
}

.bg-sucursal{
  background-color: var(--bg-color2);
}


@media (min-width: 1024px){
  .navBar-Height{
    height: 128px;
  }
}

@media (min-width:1023px) and (max-width: 1441px){

  .logos-lg{
    width: 70px;
    height: 70px;
  }

}

@media (min-width: 319px){
  .sucursal-map{
      width: 280px;
      height: 280px;
  }
  

}