#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.weatherCard {
  max-width: 24rem;
  background-color: #0c4e8b;
  background-image: linear-gradient(19deg, #0c4e8b 0%, #010656 100%);
  --bs-body-bg: none
}

input.placeholder-white::placeholder {
  color: white !important;
  opacity: 0.5;
}