#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

:root{
  --texto-color: #484041;
  --bg-color1: #EEF0E1;
  --bg-color2: #79aea379;
  
  --color-principal: #484041;
}


.bg-navBar{
  background-color: var(--color-principal);
}



@media (min-width: 1024px){
  .navBar-Height{
    height: 128px;
  }
}

.weatherCard {
  max-width: 24rem;
  padding: 1rem;
  background-color: #0c4e8b;
  background-image: linear-gradient(19deg, #0c4e8b 0%, #010656 100%);
  --bs-body-bg: none
}

input.placeholder-white::placeholder {
  color: white !important;
  opacity: 0.5;
}