tr{
    border: 2px solid black;
}
th, td{
    border: 1px solid hsl(0, 0%, 75%)
}
th{
    background-color: var(--bg-color2)!important
}

.bg-adminturnos {
    background-image: url("../assets/media/contactanosBackground4.jpg");
    background-size:contain;
    background-attachment: fixed;
    background-position: center center;
}