.imgProf {
  height: 350px;
  width: 100%;
  display: block;
  opacity: 0.6;
  object-fit: cover;
}

.textoProf {
  font-size: 2vw;
  font-weight: bold;
  color: var(--texto-color);
}

.tituloProf {
  font-size: 4vw;
  font-weight: bold;
  color: var(--texto-color);
}
