.imgProf{
    object-fit: cover;
    height: 300px;
    max-width: 100%;
    display: block;
    opacity: 0.8;
}

.textoProf {
    font-size: 2vw;
    font-weight:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tituloProf {
    font-size: 4vw;
    font-weight: bold;
}
