:root{
    --texto-color: #484041;
    --bg-color1-50: rgba(238, 240, 225, 0.5);
    --bg-color2: #79aea379;
    --color-principal: #484041;
}

.planes-background{
    background-image: url("../assets/media/planesBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bg-color1-50{
    background-color: var(--bg-color1-50);
}

.bg-formulario{
    background-color: var(--bg-color1-opacidad-70); 

}